.hero,
.footer {
    display: flex;
    background-color: #1F2937;
}

.info {
    display: flex;
        
}

.quote {
    display: flex;
    background-color: #E5E7EB;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    border: #3882f6;
    border-style: solid;
    height: 300px;
    
}

.hero {
   
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 8px;
    padding-bottom: 36px;
   
}


.text {
    color: #F9FAF8;
   
    }

a {
    color: #E5E7EB;
}
.text.two {
    color: #E5E7EB;
   
}

 .huong {
    min-width: 0px;
    min-height: 0px;
 }

    button {
        background-color: #3882f6;
       
    }