.hero,
.footer {
    display: flex;
    background-color: #1F2937;
}

.info {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    height: 500px;
}

.quote p {
    width: 500px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
  
    
    
}

.hero {
   justify-content: center;
   
    

}



.text {
    color: #F9FAF8;
   
    }

a {
    color: #E5E7EB;
}
.text.two {
    color: #E5E7EB;
   
}

 .huong {
    min-width: 0px;
    min-height: 0px;
   max-height: 450px;
   padding-bottom: 50px;
   padding-top: 40px;
 }

    button {
        background-color: #3882f6;
        width: 200px;
        padding: 10px;
        border-radius: 15px;
        
    }

  .links {
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 100px;

  }

  .text.logo {
    padding-bottom: 150px;
  }
 
  p {
    margin: 0;
  }
  .left {
    justify-content: space-evenly;
  }
  .tinfo {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .information {
    display: flex;
    justify-content: center;
    gap: 52px;
  }

  .info img {
    width: 100px;
    height: 100px;
    border: #3882f6;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
  }

  .info {
   max-width: 200px;
    flex-direction: column;
    padding-bottom: 75px;
  }

  .call {
    display: flex;
    background-color: #3882f6;
    width: 1000px;
    height: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 350px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 10px;
  }

  .call button {
    border-color: white;
    border-width: 3px;
    color: white;
    
  }
  .footer {
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    

  }